@import url("https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@400;600&family=Cabin:wght@400;600&family=Capriola&family=Caveat+Brush&family=Happy+Monkey&family=Space+Mono:wght@400;700&display=swap");
@import "tailwindcss";

:root {
  --background: #FBFBFB;
  --foreground: #171717;
}

.happy-monkey-regular {
  font-family: "Happy Monkey", system-ui;
  font-weight: 400;
  font-style: normal;
}

.capriola-regular {
  font-family: "Capriola", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.caveat-brush-regular {
  font-family: "Caveat Brush", cursive;
  font-weight: 400;
  font-style: normal;
}
/* 
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Cabin", "Averia Serif Libre", "Space Mono", sans-serif;
} */

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
