@import "tailwindcss";

:root {
  --background: #FBFBFB;
  --foreground: #171717;
}

.happy-monkey-regular {
  font-family: var(--font-happy-monkey), system-ui;
  font-weight: 400;
  font-style: normal;
}

.cabin-regular {
  font-family: var(--font-cabin), system-ui;
  font-weight: 400;
  font-style: normal;
}

.capriola-regular {
  font-family: var(--font-capriola), sans-serif;
  font-weight: 400;
  font-style: normal;
}

.caveat-brush-regular {
  font-family: var(--font-caveat-brush), cursive;
  font-weight: 400;
  font-style: normal;
}

.inter-regular {
  font-family: var(--font-inter), system-ui;
  font-weight: 400;
  font-style: normal;
}

.karla-regular {
  font-family: var(--font-karla), sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.oxygen-light {
  font-family: var(--font-oxygen), sans-serif;
  font-weight: 300;
  font-style: normal;
}

.oxygen-regular {
  font-family: var(--font-oxygen), sans-serif;
  font-weight: 400;
  font-style: normal;
}

.oxygen-bold {
  font-family: var(--font-oxygen), sans-serif;
  font-weight: 700;
  font-style: normal;
}

.averia-serif-libre-regular {
  font-family: var(--font-averia-serif-libre), serif;
  font-weight: 400;
  font-style: normal;
}

.averia-serif-libre-bold {
  font-family: var(--font-averia-serif-libre), serif;
  font-weight: 700;
  font-style: normal;
}

.mooli-regular {
  font-family: var(--font-mooli), sans-serif;
  font-weight: 400;
  font-style: normal;
}



/* 
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Cabin", "Averia Serif Libre", "Space Mono", sans-serif;
} */

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
